extends layout

block content

    if saved
        .alert.alert-success Successfully saved form.

    h2= form.title

    form.form-horizontal(method='post', action='/deploys/' + vm.app.id + '/forms/' + form.id)
        if(vm.errors)
            ul.text-danger
                each error in vm.errors
                    li= error.message
        if(vm.formData._id)
            input.form-control(type="hidden", name='_id', value=vm.formData._id)
        each field in form.fields
            .form-group.col-sm-6
                if field.type !== 'boolean'
                    label.col-sm-3.control-label(for=field.title)= field.title
                .col-sm-9
                    if field.type === 'text' && !field.multipleLine
                        input.form-control(type="text", name=field.title, value=vm.formData[field.title], required=field.required)
                    else if field.type === 'text' && field.multipleLine
                        textarea.form-control(rows="3", name=field.title, required=field.required)= vm.formData[field.title]
                    else if field.type === 'number'
                        input.form-control(type="number", name=field.title, value=vm.formData[field.title], required=field.required)
                    else if field.type === 'date'
                        input.form-control(type="date", name=field.title, value=vm.formData[field.title], required=field.required)
                    else if field.type === 'boolean'
                        label.checkbox
                            input(type='checkbox', name=field.title, required=field.required, checked=vm.formData[field.title])
                            = field.title
                    else if field.type === 'options' && field.optionType === 'radio'
                        each option in field.options.split("\n")
                            label.radio-inline
                                input(type='radio', name=field.title, value=option, required=field.required, checked=vm.formData[field.title]===option)
                                = option
                    else if field.type === 'options' && field.optionType === 'checkbox'
                        each option in field.options.split("\n")
                            label.checkbox-inline
                                input(type='checkbox', name=field.title, value=option, checked=(vm.formData[field.title] || []).indexOf(option) > -1)
                                = option
                    else if field.type === 'options' && field.optionType === 'select'
                        select.form-control(name=field.title, required=field.required)
                            option
                            each option in field.options.split("\n")
                                option(selected=vm.formData[field.title]===option)= option
                    else if field.type === 'options' && field.optionType === 'multi-select'
                        select.form-control(name=field.title,multiple='multiple', required=field.required)
                            each option in field.options.split("\n")
                                option(selected=(vm.formData[field.title] || []).indexOf(option) > -1)= option
        .form-group.col-sm-9
                input.btn.btn-primary(type='submit', value='Save')